
        body{
            background-color:rgb(45, 67, 88);
            height:100vh;
            align-items:center;
            text-align:center;
            color:rgb(244, 18, 18);
            font-family:sans-serif;

        }
   